.skeleton-container {
   
    width: 80%;
    margin: 4% auto auto auto;
}
.legend {
    width: 25%;
    margin: auto;
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    .box-field {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 5px;
        margin: auto;
        p {
            font-size: 30px;
            margin-left: 10px;
        }
        .box {
            height: 30px;
            width: 30px;
            border: 1px solid;
            
            
        }
        .bad{
            background-color: dodgerblue;
        }
        .awful{
            background-color: blueviolet;
        }
        .neutral{
            background-color: aqua;
        }
        .excellent{
            background-color: forestgreen;
        }
        .good{
            background-color: greenyellow;
        }
    }
}