.container {
    font-size: 1.3em;
    
    table {
        border-spacing: 2px;
        
        margin: auto;
        td:not(.mesec){
            height: 40px;
            width: 40px;
            border: 1px solid;
            button.day {
                border: none;
                margin: 0;
                background-color: white;
                height: 100%;
                width: 100%;
                
                
            }
            button.day:hover{
                border: none;
                margin: 0;
                background-color: red;
                height: 100%;
                width: 100%;
                
                
            }
            
        }

    }
}