.container {
    padding: 0;
    height: 100%;
    width: 100%;
    
    .field {
        border: none;
        margin: 0;
        background-color: white;
        height: 100%;
        width: 100%;
        
        
    }
    .bad{
        background-color: dodgerblue;
    }
    .awful{
        background-color: blueviolet;
    }
    .neutral{
        background-color: aqua;
    }
    .excellent{
        background-color: forestgreen;
    }
    .good{
        background-color: greenyellow;
    }
    .field:hover{
        border: none;
        margin: 0;
        opacity: 0.5;
        height: 100%;
        width: 100%;
        
        
    }
}
.form {
    display: flex;
    flex-direction: row;
    p {
        font-size: 30px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .box {
        height: 30px;
        width: 30px;
        border: 1px solid;
    }
    
}
.text {margin-top: 20px;}